<?xml version="1.0" encoding="UTF-8"?>
<included>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="com.ambition.user.dao" level="DEBUG" />
    <logger name="com.ambition.user.MultipleDataSourceApplication" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</included>
